#map{
  .mapboxgl-ctrl-bottom-right{
    display: none !important;
  }

  .mapboxgl-control-container{
    display: none !important;
  }
}
.mapboxgl-ctrl-logo{
  display: none !important;
}


.mapboxgl-ctrl-geolocate-active{
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg' fill='%2333b5e5'%3E %3Cpath d='M10 4C9 4 9 5 9 5L9 5.1A5 5 0 0 0 5.1 9L5 9C5 9 4 9 4 10 4 11 5 11 5 11L5.1 11A5 5 0 0 0 9 14.9L9 15C9 15 9 16 10 16 11 16 11 15 11 15L11 14.9A5 5 0 0 0 14.9 11L15 11C15 11 16 11 16 10 16 9 15 9 15 9L14.9 9A5 5 0 0 0 11 5.1L11 5C11 5 11 4 10 4zM10 6.5A3.5 3.5 0 0 1 13.5 10 3.5 3.5 0 0 1 10 13.5 3.5 3.5 0 0 1 6.5 10 3.5 3.5 0 0 1 10 6.5zM10 8.3A1.8 1.8 0 0 0 8.3 10 1.8 1.8 0 0 0 10 11.8 1.8 1.8 0 0 0 11.8 10 1.8 1.8 0 0 0 10 8.3z'/%3E %3C/svg%3E") !important;
}

.mapboxgl-ctrl-geolocate{
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg' fill='%23333'%3E %3Cpath d='M10 4C9 4 9 5 9 5L9 5.1A5 5 0 0 0 5.1 9L5 9C5 9 4 9 4 10 4 11 5 11 5 11L5.1 11A5 5 0 0 0 9 14.9L9 15C9 15 9 16 10 16 11 16 11 15 11 15L11 14.9A5 5 0 0 0 14.9 11L15 11C15 11 16 11 16 10 16 9 15 9 15 9L14.9 9A5 5 0 0 0 11 5.1L11 5C11 5 11 4 10 4zM10 6.5A3.5 3.5 0 0 1 13.5 10 3.5 3.5 0 0 1 10 13.5 3.5 3.5 0 0 1 6.5 10 3.5 3.5 0 0 1 10 6.5zM10 8.3A1.8 1.8 0 0 0 8.3 10 1.8 1.8 0 0 0 10 11.8 1.8 1.8 0 0 0 11.8 10 1.8 1.8 0 0 0 10 8.3z'/%3E %3C/svg%3E")
}

.mapboxgl-popup-content{
  padding: 16px;

  ul{
    padding-left: 21px !important;

  }
}

.leaflet-interactive{
  cursor: url("assets/images/cursor.svg"), auto !important;
}

.leaflet-popup-content{
  padding: 0 !important;
  margin: 0 !important;
  min-width: 250px !important;

}
.leaflet-popup-content-wrapper{
  padding: 0 !important;
  margin: 0 !important;
  overflow: hidden;
}
.leaflet-popup-close-button{
  color: #36f !important;
  width: 20px !important;
  height: 20px !important;
  background: #36f !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  padding: 0 !important;
  color: white !important;
  border-radius: 15px !important;
  margin: 3px !important;
}

.detail-pop{
  background: #36f; 
  border: none; 
  color: white; 
  width: 100%; 
  font-size: 12pt; 
  border-radius: 10px; 
  font-weight: bold; 
  padding: 5px; 
  border: 1px solid #36f;

  // &:active{
  //   background: white;
  //   color: #36f;
  // }
}